.form-sec {
  background-color: #fafafa;
}

.container {
  padding: 2%;
}
.container .row {
  border-radius: 10px;
  background-color: white;
}
.container img {
  margin-top: 100px;
}
.container .form {
  padding: 0 20px;
  margin-top: 20px;
}
.container .form a {
  text-decoration: none;
}
.container .form small {
  color: hsl(233deg, 8%, 62%);
}
.container .form h1 {
  font-weight: 700;
  font-size: 2rem;
  color: #263c47;
}
.container .form .form-container {
  padding: 20px 0;
}
.container .form .form-container form {
  width: 100%;
}
.container .form .form-container .form-item {
  margin: 0 0 30px;
  position: relative;
}
.container .form .form-container .form-item .form-control:focus {
  box-shadow: none;
}
.container .form .form-container .form-item input {
  width: 80%;
  padding: 5px 5px;
  border-bottom: 2px solid grey !important;
  border: 0;
  padding-left: 0;
  transition: all 0.3s ease-in-out;
}
.container .form .form-container .form-item input:focus {
  border-bottom: 2px solid rgb(81, 203, 238) !important;
  outline: none;
  transition: all 0.3s ease-in-out;
}
.container .form .form-container .form-item select {
  background-color: white;
  width: 80%;
  border-bottom: 2px solid grey !important;
  border: 0;
  padding: 5px 5px;
  padding-left: 0;
  border-radius: 0;
  transition: all 0.3s ease-in-out;
}
.container .form .form-container .form-item select:focus {
  border-bottom: 2px solid rgb(81, 203, 238) !important;
  outline: none;
  transition: all 0.3s ease-in-out;
}
.container .form .form-container .form-item label {
  display: block;
  color: #53597b;
}
.container .form .form-container .form-item.error:after {
  content: "Field cannot be empty";
  position: absolute;
  left: 0;
  bottom: 0;
  transform: translateY(20px);
  display: block;
  font-size: 0.9rem;
  color: #eb4747;
  font-weight: 500;
}
.container .form .form-container .form-item.validation:after {
  content: "It should be a number";
  position: absolute;
  left: 0;
  bottom: 0;
  transform: translateY(20px);
  display: block;
  font-size: 0.9rem;
  color: #eb4747;
  font-weight: 500;
}
.container .form .form-container .form-item.exceed:after {
  content: "Age should be less than 3 characters long";
  position: absolute;
  left: 0;
  bottom: 0;
  transform: translateY(20px);
  display: block;
  font-size: 0.9rem;
  color: #eb4747;
  font-weight: 500;
}
.container .form .form-container .form-item.limit:after {
  content: "It should be a 10 digit number";
  position: absolute;
  left: 0;
  bottom: 0;
  transform: translateY(20px);
  display: block;
  font-size: 0.9rem;
  color: #eb4747;
  font-weight: 500;
}
.container .form .form-container button {
  background: #2196f3;
  box-shadow: 0px 10px 20px -10px #1376c5;
  border: 0;
  padding: 8px 15px;
  color: white;
  font-weight: 500;
  border-radius: 5px;
  margin: 10px 0;
  transition: all 0.3s ease-in;
}
.container .form .form-container button:hover {
  background-color: #3498db;
  transition: all 0.3s ease-in;
}

@media only screen and (max-width: 850px) {
  .container {
    padding: auto;
  }
  .container .form .form-container form .form-item input {
    width: 100%;
  }
  .container .form .form-container form .form-item select {
    width: 100%;
  }
}/*# sourceMappingURL=register.css.map */